{% extends "@app/views/layouts/main.twig" %}
{% block title %}Pago - TallerSmart{% endblock %}
{% block content %}<div class="p-6"><h1 class="text-2xl font-bold">Pago</h1><p>Vista en desarrollo</p></div>{% endblock %}
